version: 2.1

parameters:
  run_integration_tests:
    type: boolean
    default: true

jobs:
  say-hello:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - run: echo "hi benny"

workflows:
  say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    jobs:
      - say-hello
